flask==2.3.3
waitress==2.1.*
beautifulsoup4==4.12.*
feedparser==6.0.*
requests>=2.32.2
google-cloud-bigquery==3.11.*
neo4j==5.20.*
youtube-transcript-api==0.6.*
aiohttp==3.9.*
yt-dlp>=2023.12.30
praw>=7.7.0
google-generativeai>=0.3.0
